.countryBlock {
  display: flex;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 10px 10px 5px 5px;
  font-family: "Ubuntu", sans-serif;
}

.countriesList {
  overflow: scroll;
  border: 2px solid #eee;
  border-radius: 7px;
  width: 280px;
  height: 560px;
  padding: 10px;
}

.countriesInfo {
  color: white;
  border-radius: 7px;
  background: #d6d6d6;
  width: 480px;
  padding: 20px;
}
