body {
  background: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 0;
}

.contentRender {
  display: flex;
  flex-wrap: wrap;
}

.movieCard {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 10px 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 200px;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.movieCard:hover {
  scale: 1.1;
  box-shadow: 0 10px 10px #ccc;
}

.movieTitle {
  flex-grow: 1;
  text-align: center;
  margin: 20px 0 0;
  font-size: 22px;
}

.movieYear {
  font-size: 18px;
  margin: 20px 0 0;
  color: gray;
}

.rating {
  position: absolute;
  top: 0;
  left: 10px;
  background: #8ecd25;
  color: white;
  padding: 2px;
}

.board {
  width: 500px;
  margin: 50px auto;
  box-shadow: 6px 6px 2px 1px rgba(3, 3, 42, 0.2);
  background: #fff;
  padding: 30px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
}
.portNav {
  text-decoration: none;
  color: black;
}
